<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div th:each="item,index:${application.itemList}">
                    <span th:text="${item.name}"></span>
                    <span th:text="${item.price}"></span>円
                    <a th:href="@{/ex06/in-cart/{index}(index=${index.index})}" class="btn btn-default">カートへ</a>
                </div>
            </div>
            <div class="col-6">
            <div th:each="item,index:${session.inCartList}">
                <span th:text="${item.name}"></span>
                <span th:text="${item.price}"></span>円
                <a th:href="@{/ex06/delete/{index}(index=${index.index})}" class="btn btn-default">削除</a>
            </div>

            </div>
        </div>
    </div>
</body>
</html>